.forSection section {
  padding: 0;
}
.pageWrapper {
  margin-top: 112px;
  text-align: center;
  margin-bottom: 50px;
}

.pageWrapper h1 {
  margin: 0;
  font-size: 128px;
  font-weight: 700;
}

.pageWrapper p {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.pageWrapper .mainBtn > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 64px;
  padding: 0 24px;
  background-color: #570df8;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}
